.navbar {
    width: 100%;
    margin: 10px auto;
}

.container-fluid {
    width: 70%;
    margin: 10px auto;
}

.collapse.navbar-collapse {
    margin-left: 220px;
}

.nav-item {
    width: 100px;
    text-align: center;
}

.nav-item a:hover {
    color: #002d97;
}

.nav-item .dropdown-menu {
    display: none;
    width: 1000px;
    left: -300px;
    height: 800px;
}

.nav-item.dropdown .dropdown-menu.resources {
    width: 600px;
    height: 500px;
}

.nav-item.dropdown .dropdown-menu.resources img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    border: none;
}

.nav-item.dropdown:hover .dropdown-menu.p2 {
    display: block;
    border: none;
    width: 600px;
    height: 200px;
}

.dropdown-item .dropdown-text {
    margin-left: 10px;
}

.dropdown-item .row .col-3 {
    padding-right: 0px;
}

.dropdown-item .row .col-9 h6 {
    padding-left: 0px;
}

.btn.signin {
    margin-left: 130px;
    width: 140px;
    height: 50px;
}

.btn.signin:hover {
    color: #002d97;
}

.btn.getstarted {
    color: white;
    background: #175cff;
    width: 140px;
    height: 50px;
    margin-left: 20px;
}

.btn.getstarted:hover {
    background-color: #0044e3;
}

main {
    padding-top: 80px;
}

.text-grey {
    color: #9aa2b8;
}

.text-grey:hover {
    color: white;
    transition: all .3s ease-in-out;
}

.custom-color {
    color: #d9d9d9;
}

.custom-width {
    width: 35px;
    height: 35px;
    border: 2px solid #20408c;
}

.custom-width:hover {
    background-color: #175cff;
    border-color: #175cff;
    transition: all .3s ease-in-out;
}

.custom-size {
    font-size: 12px;
}

.footer-background {
    background: linear-gradient(to right, #000717, #002d97);
}

@media (max-width: 768px) {
    .custom-width {
        border: 2px solid #1e2c4d;
    }
}
