.navbar {
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.container-fluid {
    width: 70%;
    margin: 10px auto;
}

.collapse.navbar-collapse {
    margin-left: 220px;
}

.nav-item {
    width: 100px;
    text-align: center;
}

.nav-item a:hover {
    color: #002d97;
}

.nav-item .dropdown-menu.home {
    display: none;
    width: 1050px;
    left: -300px;
    height: 750px;
    border-radius: 20px;
}

.nav-item .dropdown-menu.home h6 {
    margin-left: 30px;
}

.nav-item .dropdown-menu.home a {
    margin-top: 0px;
    padding-top: 0px;
}

.nav-item .dropdown-menu.home span {
    margin-left: 15px;
    font-weight: 300;
    font-size: 0.9rem;
}

.nav-item .dropdown-menu.home p {
    margin-left: 35px;
    font-weight: 200;
    font-size: 0.8rem;
}

.nav-item .dropdown-menu.home svg {
    transform: scale(1.5);
    margin-top: 10px;
    color: #0044e3;
}

.nav-item.dropdown .dropdown-menu.resources {
    width: 800px;
    height: 400px;
    left: -300px;
}

.nav-item.dropdown .dropdown-menu.resources .col-3 {
    margin-left: 20px;
}

.nav-item.dropdown .dropdown-menu.resources h5 {
    color: black;
    font-weight: 400;
    font-size: 1rem;
}

.nav-item.dropdown .dropdown-menu.resources a {
    font-size: 0.95rem;
    font-weight: 200;
}

.nav-item.dropdown .dropdown-menu.resources img {
    margin-left: 30px;
    width: 280px;
    height: 350px;
    border-radius: 10px;
}

.dropdown-item {
    margin-top: 10px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    border: none;
}

.nav-item.dropdown:hover .dropdown-menu.p2 {
    display: block;
    border: none;
    width: 600px;
    height: 200px;
}

.nav-item.dropdown .dropdown-menu.company {
    width: 500px;
    height: 500px;
    left: -300px;
}

.nav-item.dropdown .dropdown-menu.company h6 {
    margin-left: 60px;
}

.nav-item.dropdown .dropdown-menu.company a {
    margin-left: 50px;
    padding-top: 10px;
    font-weight: 200;
    font-size: 0.85rem;
    left: -200;
}

.dropdown-item .dropdown-text {
    margin-left: 10px;
}

.dropdown-item .row .col-3 {
    padding-right: 0px;
}

.dropdown-item .row .col-9 h6 {
    padding-left: 0px;
}

.btn.signin {
    margin-left: 130px;
    width: 140px;
    height: 50px;
}

.btn.signin:hover {
    color: #002d97;
}

.btn.getstarted {
    color: white;
    background: #175cff;
    width: 140px;
    height: 50px;
    margin-left: 20px;
}

.btn.getstarted:hover {
    background-color: #0044e3;
}

.hero-section {
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ptb-120 {
    padding: 120px 0;
}

.fw-bold {
    font-weight: 900 !important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    font-size: 20px;
    color: #737373;
    font-family: sans-serif;
}

.btn-request {
    color: white;
    background: #175cff;
    width: 197px;
    height: 51px;
}

.btn-request:hover {
    color: white;
    background-color: #0044e3;
    transition: all .3s ease-in-out;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.dots img {
    position: absolute;
}

.dots .dot-1 {
    bottom: 20px;
    left: 65px;
    z-index: -1;
}

.dots .dot-2 {
    top: 115px;
    right: 25px;
    z-index: -1;
}

.bubble span {
    position: absolute;
    border-radius: 50%;
}

.bubble .bubble-1 {
    height: 160px;
    width: 160px;
    background-color: #175cff;
    left: 0;
    bottom: 10%;
}

.bubble .bubble-2 {
    height: 85px;
    width: 85px;
    background-color: #fff;
    right: 0;
    top: 30%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .1);
}

.fw-800 {
    font-weight: 800;
}

.p-services {
    font-size: 16px;
    font-weight: 300;
    color: #737373;
    font-family: sans-serif;
    line-height: 28px;
}

.fw-600 {
    font-weight: 600;
}

.service:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
}

.text-grey {
    color: #9aa2b8;
}

.text-grey:hover {
    color: white;
    transition: all .3s ease-in-out;
}

.custom-color {
    color: #d9d9d9;
}

.custom-width {
    width: 35px;
    height: 35px;
    border: 2px solid #20408c;
}

.custom-width:hover {
    background-color: #175cff;
    border-color: #175cff;
    transition: all .3s ease-in-out;
}

.custom-size {
    font-size: 12px;
}

.pricing-section {
    margin-top: 20px;
    background-color: #f4f4fd;
    padding-bottom: 50px;
}

.pricing-section h1 {
    text-align: center;
    font-weight: 800;
    margin-top: 50px;
    font-size: 2.5rem;
    padding-top: 100px;
}

.pricing-section p {
    text-align: center;
    font-weight: 200;
    margin-top: 30px;
}

.pricing-section .row {
    width: 80%;
    margin: 50px auto;
}

.pricing-section .row .col-4 {
    width: 33%;
    border-radius: 20px;
}

.pricing-section .row .col-4 .container {
    height: 550px;
    border-radius: 20px;
}

.pricing-section .row .col-4 .container-2 {
    height: 550px;
    border-radius: 20px;
}

.pricing-section .row .col-4 .container h3 {
    padding-top: 50px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #0091ff;
}

.pricing-section .row .col-4 .container-2 h3 {
    padding-top: 50px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #ffc300;
}

.pricing-section .row .col-4 .container h4 {
    width: 80%;
    font-size: 2.5rem;
    margin-left: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed;
}

.pricing-section .row .col-4 .container-2 h4 {
    width: 80%;
    color: white;
    font-size: 2.5rem;
    margin-left: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dashed;
}

.pricing-section .row .col-4 .container span {
    font-size: .875rem;
    font-weight: 400;
    margin-left: 5px;

}

.pricing-section .row .col-4 .container-2 span {
    font-size: .875rem;
    font-weight: 400;
    margin-left: 5px;

}

.pricing-section .row .col-4 .container ul {
    margin-top: 50px;
    margin-left: 30px;
}

.pricing-section .row .col-4 .container-2 ul {
    margin-top: 50px;
    margin-left: 30px;
}

.pricing-section .row .col-4 .container li {
    margin-top: 20px;
    font-weight: 100;
    font-size: 0.95rem;
}

.pricing-section .row .col-4 .container-2 li {
    color: white;
    margin-top: 20px;
    font-weight: 200;
    font-size: 0.95rem;
}

.pricing-section .row .col-4 .container button {
    margin-top: 40px;
    margin-left: 30px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    color: #175cff;
    border-color: #175cff;

}

.pricing-section .row .col-4 .container button:hover {
    margin-top: 40px;
    margin-left: 30px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #175cff;
    color: white;
}

.pricing-section .row .col-4 .container-2 button {
    margin-top: 40px;
    margin-left: 30px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #175cff;
    color: white;
}

.pricing-section .row .col-4 .container-2 button:hover{
    margin-top: 40px;
    margin-left: 30px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #144dd3;
    color: white;
}

.text-success {
    --bs-text-opacity: 1;
    color: #75b51c;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.custom-shadow {
    box-shadow: 0 5px 20px 0 rgba(210, 210, 245, .5);
}

.bg-gradient {
    background: linear-gradient(90deg, #000717, #002d97) !important;
}

.footer-background {
    background: linear-gradient(to right, #000717, #002d97);
}

.footer-form input {
    padding: .65rem 1rem;
}

.footer-form input[type="email"] {
    font-size: 15px;
    color: #969696;
    border: 2px solid #969696;
}

.footer-form input[type="email"]:focus {
    outline: none;
    box-shadow: none;
}

.footer-form input[type="email"]::placeholder {
    font-size: 15px;
    color: #969696;
}

.btn-subscribe {
    color: white;
    background-color: #165cff;
    border-color: #165cff;
}

.btn-subscribe:hover {
    color: white;
    background-color: #0044e3;
    border-color: #0044e3;
    transition: all .3s ease-in-out;
}

@media (max-width: 768px) {
    .custom-width {
        border: 2px solid #1e2c4d;
    }
}
